@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html::-webkit-scrollbar {
	width: 0.2rem;
}
html::-webkit-scrollbar-track {
	background: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
	background: #888;
}
html::-webkit-scrollbar-thumb:hover {
	background: #555;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background: #f1f1f1;
	--primary: #2d2d2d;
	--secondary: #535353;
}

h2 {
	font-size: 1.2rem;
	color: var(--primary);
}

h3 {
	font-size: 1rem;
	color: var(--secondary);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

p {
	line-height: 150%;
	font-weight: 200;
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 100%;
	justify-content: center;
	cursor: pointer;
}
